<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Utkarshabank-webautomation">
	<listeners>
		<listener class-name="com.utkarshbank.utils.TestListener" />
	</listeners>
	<test name="Login functionality">
		<parameter name="siteURL" value="https://admin-utkarshbank.raptorx.ai/login" />
		<parameter name="browser" value="chrome"/>
		<classes>
			<class name="com.utkarshbank.tests.LoginTest" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
